
<div *ngIf="!submitted; else elseBlock">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="First Name" name="firstName" [(ngModel)]="wash.name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" name="address" [(ngModel)]="wash.address" required>
    </mat-form-field>
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Address" name="address" [(ngModel)]="wash.address" required>-->
<!--    </mat-form-field>-->
    <button mat-button (click)="addWash()">Create</button>
  </div>
</div>

<h1 *ngIf="error">{{error}}</h1>
<ng-template #elseBlock>
  <h1>Successfully created! if you want create one more wash click add</h1>
  <button (click)="newWash()">Add</button>
</ng-template>

